body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 375px;
    background: hsl(0, 0%, 100%);
    color: hsl(24, 5%, 18%);
    font-family: "Young Serif", sans-serif;
    font-weight: 400;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head-img {
    max-width: 375px;
}

.title,.title-txt {
    margin-left: 0.55em;
}

.title {
    width: 75%;
}

.title-txt {
    color: hsl(30, 10%, 34%);
    width: 75%;
    margin-left: 1em;
    margin-bottom: 2em;
}

.prep-time {
    background: hsl(330, 100%, 98%);
    color: hsl(30, 10%, 34%);
    width: 85%;
}

.prep-title {
    color: hsl(332, 51%, 32%);
    position: relative;
    left: 1em;
}

.total-itm {
    width: 70%;
}

.itm span,.instructions-list li span {
    font-weight: 700;
}

.itm {
    margin-bottom: 0.55em;
    padding-left: 1.45em;
}

.ingredients-list li::marker,.instructions-list li::marker {
    color: hsl(14, 45%, 36%);
}

.ingredients-title,.instructions-title,.nutrition-title {
    color: hsl(14, 45%, 36%);
    margin-left: 1.15em;
}

.ingredients-list li, .instructions-list li {
    margin-bottom: 1em;
    padding-left: 2em;
}

.ingredients-list li:last-of-type,.instructions-list li {
    width: 65%;
}

.nutrition-txt {
    width: 75%;
    margin-left: 1.5em;
}

.nutrition-table h3 {
    margin-left: 1.5em;
    font-weight: normal;
}

.nutrition-table span {
    font-weight: bold;
}

.nutrition-val {
    position: relative;
    left: 10em;
}

.carbs-val {
    left: 11em;
}

.protein-val {
    left: 10.5em;
}

.fat-val {
    left: 12em;
}

.nutrition-table hr, .ingredients-section hr, .instructions-section hr {
    color: hsla(24, 5%, 18%, 0.2);
    width: 85%;
}

.instructions-section hr {
    width: 85%!important;
}

@media (min-width: 1440px) {
    body {
        background: hsl(30, 54%, 90%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .head-img {
        max-width: 700px;
        position: relative;
        top: 20px;
    }

    .card {
        width: 780px;
        background: hsl(0, 0%, 100%);
        border-radius: 10px;
        margin-bottom: 15em;
        position: relative;
        left: 30em;
        top: 5em;
    }

    .head-img {
        border-radius: 10px;
    }

    .title,.title-txt {
        margin-left: -3.3em;
    }

    .title-txt {
        margin-left: -2em;
        width: 85%;
    }

    .title {
        position: relative;
        top: 0.55em;
    }

    .ingredients-section {
        position: relative;
        right: 6em;
    }

    .ingredients-section hr, .instructions-section hr {
        width: 130%;
    }

    .nutrition-table hr {
        width: 120%;
        position: relative;
        right: 4em;
    }
}